.preview-note {
  opacity: .75;
  margin-top: 1.5em;
  border-radius: 0.5em;
  width: 90%;
  height: 7.5em;
  background-color: #222831;
  cursor: pointer;
}

.preview-note:hover {
  opacity: 1;
}

.note-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.title {
  font-size: larger;
  font-weight: bold;
  color: #f2a365;
  margin-bottom: 0.5em;
}

.body {
  font-size: medium;
}

p {
  all: unset;
}
